h2 {
 color: #086;
}

body {
 margin-left: 50px;
 margin-right: 100px;
 font-family: verdana, arial, sans-serif;
}

.dialog {
    border-left: 8px solid #eee;
}
.from {
    padding: 0 10px 0 10px;
    background: #ddf;
}
.to {
    padding: 0 10px 0 10px;
    background: #dfd;
}
.dialab {
    padding: 3px 10px 3px 0px;
    background: #eee;
}

a.diaref {
    text-decoration: none;
    font-weight: bold;
    color: #086;
}

span.good {
    font-size: 125%;
    color: green;
}
span.warning {
    font-size: 125%;
    font-weight: bold;
    color: #fa0;
}
span.error {
    font-size: 125%;
    font-weight: bold;
    color: red;
}

#ape {
 position: absolute; right: 100px; top: 8px;
 padding-left: 20px;
 padding-right: 10px;

 width: 170px;
 border: 1px solid #086;
}

